* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.GInput {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid #c1c4c5;
}
.GInput:hover {
  border-bottom: 1px solid #1899e4;
}
.GSelect {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid #c1c4c5;
  cursor: pointer;
}
.GSelect:hover {
  border-bottom: 1px solid #1899e4;
}
.GTextArea {
  width: 100%;
  outline: none;
  padding: 5px;
  border: 1px solid #c1c4c5;
}
.GTextArea:hover {
  border: 1px solid #1899e4;
}

/* AlertStyle CSS */
.alertStyle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
