* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.GInput {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid rgb(24, 153, 228);
}
.GSelect {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid rgb(24, 153, 228);
  cursor: pointer;
}
.GButton {
  outline: none;
}
