@media screen and (max-width: 800px) {
  .RegisterLeftStyle {
    display: none;
  }
}
.RegisterLeftStyle {
  background-image: url("../../../public/avatar/RegisterImage.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d1fafaee;
  height: 100vh;
}
.RegisterLeftRight {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.GButton {
  outline-style: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  background-color: #12a8a8f5;
}
.GButton:hover {
  background-color: #0ae9e9f5;
  border: none;
  outline-style: none;
}
