* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavbarList {
  font-weight: bold;
  color: #ffff;
}

.logoutBtn {
  color: #ffff;
  cursor: pointer;
}

.logoutBtn:hover {
  color: #e2eaec;
}

.HomeTextStyle {
  background-color: #cde5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 30px;
}

.searchStyle {
  outline: none;
  border: 1px solid #069906;
  width: 50%;
  text-align: center;
  height: 39px;
}

@media screen and (max-width: 650px) {
  .searchStyle {
    width: 90%;
  }
}

.searchStyle:hover {
  border: 1px solid #1899e4;
}

.searchButton {
  background-color: #069906;
  padding: 7.5px;
  color: #ffff;
  cursor: pointer;
}

.searchField {
  width: 100%;
  display: flex;
  justify-content: center;
}

.textH4Style {
  color: #0c0b0c;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}

.HomeImageStyle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


/* noPageFound style sheet */

.noPageFound {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  padding: 10px;

}