@media screen and (max-width: 800px) {
  .RegisterLeftStyle {
    display: none;
  }
}
.RegisterLeftStyle {
  background-image: url("../../../../public/avatar/RegisterImage.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d1fafaee;
  height: 100vh;
}
.RegisterLeftRight {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
